.sherwood-button {
  background-color: #5cb85c;
  color: gold;
  border: 3px solid #5cb85c;
  border-radius: 10px;
  margin: 7px;
  box-shadow: 0px 0px 0px #222;
}

.sherwood-button:focus {
  outline:0;
}

.sherwood-button:active {
  box-shadow: 0px 0px 3px #222;
}
