<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8"></meta>
    <title>Title</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link href="https://fonts.googleapis.com/css?family=Bangers|Sacramento" rel="stylesheet"></link>

    <!--TODO use this when in .js configured properly csrf token-->
    <!--<meta name="_csrf" content="${_csrf.token}"/>-->
    <!--&lt;!&ndash; default header name is X-CSRF-TOKEN &ndash;&gt;-->
    <!--<meta name="_csrf_header" content="${_csrf.headerName}"/>-->
</head>

<body>

<a href="/admin/users" class="btn btn-default">Users</a>
<a href="/admin/teams" class="btn btn-default">Teams</a>
<a href="/admin/matches" class="btn btn-default">Matches</a>

<table class="table table-stripped floatedTable">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Password</th>
            <th>Email</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user, iterStat : ${users}">
            <td th:id="'currentUserId-' + ${user.getID()}" th:text="${user.getID()}">ID</td>
            <td th:id="'currentUserName-' + ${user.getID()}" th:text="${user.getName()}">Name</td>
            <td th:id="'currentUserPassword-' + ${user.getID()}" th:text="${user.getPassword()}">Password</td>
            <td th:id="'currentUserEmail-' + ${user.getID()}" th:text="${user.getEmail()}">Email</td>
            <td><!-- Button trigger modal -->
                <button type="button" th:id="'editstart-' + ${user.getID()}" class="btn btn-info" data-toggle="modal" data-target="#myModal">Edit</button>
            </td>
            <td><a href="#" class="btn btn-danger" th:href="'/admin/user/delete/' + ${user.getID()}">Delete</a></td>
        </tr>
        </tbody>
</table>

<a href="#" class="btn btn-default btn-lg btn-block" data-toggle="modal" data-target="#myModal2">Add a new element</a>



<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <form th:action="'/admin/user/edit'" method="post">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                </div>
                <div class="modal-body">
                    <table>
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Password</th>
                            <th>Email</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td><input id="editId" style="width: 140px" name="ID"/></td>
                            <td><input id="editName" style="width: 140px" name="name"/></td>
                            <td><input id="editPassword" style="width: 140px" name="password"/></td>
                            <td><input id="editEmail" style="width: 140px" name="email"/></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>


<!-- Modal2 -->
<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <form th:action="'/admin/user/add'" method="post">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel2">New</h4>
                </div>
                <div class="modal-body">
                    <table>
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Password</th>
                            <th>Email</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td><input style="width: 140px" placeholder="Name" name="name"/></td>
                            <td><input style="width: 140px" placeholder="Password" name="password"/></td>
                            <td><input style="width: 140px" placeholder="Email" name="email"/></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit"  class="btn btn-primary">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>


<script th:src="@{/admin/alluser.js}"></script>


</body>
</html>