.home-info-container {
  position: fixed;
  top: 62vh;
  left: 5%;
  background-color: beige;
  z-index: 2;
  width: 50%;
  border-radius: 5px;
}

.home-info-text-container {
  margin: 20px;
}

.home-info-text {
  text-align: justify;
  font-family: 'Montserrat', cursive;
  font-size: 0.8em;
  line-height: 140%;
}

.home-info-text span {
  font-weight: bold;
  color: green;
}

.home-info-button-container {
  margin: 20px;
  text-align: center;
}

.home-info-button {
  font-size: 1.4em;
}
